html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/*
font-family: 'Merriweather', serif;
*/

body {
  margin: 0;
  padding: 0;
  width: 100%;

  grid-template-areas:
    "header"
    "main";
}

h1 {
  font-size: 1.8rem;
  padding: 1.1rem 1.9rem;
  margin: 0;
  line-height: 1.5;
}

.banner {
  margin: .75rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: 4fr 2rem;
  grid-template-rows: 1fr 2.2rem 2rem;
  grid-area: banner;
  align-self: auto;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
}

.banner figcaption {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: white;
  grid-column: 1 / -2;
  grid-row: 2 / -2;
  z-index: 1;
}

.banner p {
  font-size: .9rem;
  padding: 0 1rem;
  margin: 0;
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  color: white;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .75rem;

  grid-area: main;
}

.info img {
  width: 100%;
}

.info h2 {
  padding: 0;
  margin: 0;
}

.info dl {
  padding: 0;
  margin: 0 0 1.5rem;
}
